body {
    background-color: #ffffff;
    font-family: 'Assistant', sans-serif;
    color: #071c4d;
}

//Navbar
.navbar-brand {
    img {
        max-height: 40px;
    }
}

.navbar-light {
    .navbar-nav {
        .nav-link {
            color: #071c4d;

            &.active {
                font-weight: bold;
                color: #071C4D;
            }
        }
    }
}

.btn-navbar-right {
    margin-top: -10px !important;
    margin-bottom: -8px !important;
    margin-right: -18px !important;
    height: 70px;
    border-radius: 0;
}

.btn-login {
    background-color: #071C4D;
    color: #ffffff;

    &:hover {
        background-color: #7299e2;
        color: #ffffff;
    }
}

//header
header {
    padding: 180px 0 165px;
    background-image: url(../image/header-background@2x.jpg);
    background-size: cover;
    margin-top: -70px;

    h1,
    p {
        color: #ffffff;
    }

    h1 {
        font-weight: bold;
        font-family: 'Playfair Display', serif;
    }

    p {
        font-size: 22px;
    }

    .btn-get-started {
        color: #ffffff;
        background-color: #ff9e53;

        &:hover {
            color: #ffffff;
            background-color: #ecb285;
        }
    }
}

// Main
.section-stats {
    margin-top: -50px;

    .stats-detail {
        padding-top: 15px;
        background-color: #ffffff;
        padding-left: 40px;
    }

    h2 {
        margin-bottom: 0;
        font-size: 30px;

    }

    p {
        font-size: 20px;
        font-weight: lighter;
    }
}

//popular
.section-popular {
    background-color: #051334;
    min-height: 540px;
    margin-top: -50px;
    margin-bottom: -230px;

    .section-popular-heading {
        margin-top: 150px;

        h2,
        p {
            color: #ffffff;
        }

        h2 {
            font-family: 'Playfair Display', serif;
            font-weight: bold;
            font-size: 40px;

        }

        p {
            font-size: 18px;
        }
    }
}

//popular-content
.section-popular-content {
    .section-popular-travel {
        .card-travel {
            min-height: 380px;
            background-color: #ddd;
            color: #ffffff;
            padding: 30px;
            background-size: cover;
            margin-bottom: 20px;
        }

        .travel-country {
            font-size: 18px;
            color: #ffffff;
        }

        .travel-location {
            color: #ffffff;
            font-size: 28px;
        }

        .travel-button {
            .btn-travel-details {
                color: #ffffff;
                background-color: #ff9e53;

                &:hover {
                    color: #ffffff;
                    background-color: #fac094;
                }
            }
        }
    }
}

//section-network
.section-network {
    background-color: #ffffff;
    padding-top: 240px;
    padding-bottom: 50px;
    margin-top: -170px;

    h2 {
        font-family: 'Playfair Display', serif;
        font-weight: bold;
        font-size: 40px;

    }

    P {
        font-size: 18px;
    }

    .img-partner {
        max-height: 100%;
    }
}

.section-testimonial-heading {
    background: linear-gradient(#fff 0%, #ebeffa 100%);
    padding-top: 50px;
    min-height: 506px;

    h2 {
        font-size: 40px;
        font-weight: bold;
        font-family: 'Playfair Display', serif;
    }

    p {
        font-size: 18px;
    }
}

.section-testimonial-content {
    margin-top: -300px;
    padding-bottom: 50px;

    .card-testimonial {
        padding: 40px 20px 10px;
        border-radius: 11px;
        margin-bottom: 20px;
        transition: 1s;

        &:hover {
            box-shadow: 0px 27px 24px 1px rgba(0, 0, 0, 0.5);
        }
    }

    .testimonial-content {
        min-height: 380px;
    }

    h3 {
        font-size: 22px;
    }

    .testimonial {
        font-weight: 200;
        font-size: 26px;
        color: #6e6e6e;
    }

    .trip-to {
        font-weight: normal;
        color: #6e6e6e;
        font-size: 22px;
    }

    hr {
        margin-left: -20px;
        margin-right: -20px;
    }

    .btn-get-started {
        color: #ffffff;
        background-color: #ff9e53;

        &:hover {
            color: #ffffff;
            background-color: #ecb285;
        }
    }

    .btn-need-help {
        color: #d1cece;
        background-color: #f0efef;
    }

    &:hover {
        color: #ddd9d9;
        background-color: #fafafa;
    }
}

.section-footer {
    a {
        color: #071c4d;
    }
}

//details-page
.section-details-header {
    min-height: 310px;
    background-color: #e4e6e8;
    margin-top: -70px;
}

.section-details-content {
    margin-top: -210px;
    min-height: 100vh;


    .breadcrumb {
        margin-bottom: 30px;
        padding: 0;
        background-color: transparent;
    }

    .breadcrumb-item {

        font-weight: bold;
        color: #10224d;
    }



    .card-details {
        padding: 30px;
        border-radius: 11px;

        h1 {
            font-size: 26px;
        }

        h2 {
            font-size: 20px;
        }

        p {
            font-size: 18px;
            color: #b1b1b1;
        }

        .trip-information {
            th {
                font-weight: 300;
                font-size: 18px;
                color: #071c4d;
            }

            td {
                font-weight: 300;
                font-size: 18px;
                color: #b1b1b1;
            }

            .text-blue {
                color: #071C4D;
                font-weight: bold;
            }

            .text-orange {
                color: #ff9e53;
                font-weight: bold;
            }
        }

        .payment {
            font-size: 14px;
            font-weight: 300;
            color: #b1b1b1;
        }



        h3 {
            font-weight: 300;
            font-size: 14px;
            color: #071c4d;
        }

        .disclaimer {
            font-weight: 200;
            font-size: 14px;
            color: #b1b1b1;
        }
    }

    .gj-datepicker {
        .datepicker {
            border-right: 0;
        }

        .input-group-append {
            .btn {
                padding-right: 30px;
            }
        }
    }

    .btn-now {
        margin-left: 20px;
        color: #ffffff;
        background-color: #071c4d;

        &:hover {
            color: #fff;
            background-color: #113ca0;
        }
    }

    .bank {
        .bank-item {
            h3 {
                margin-bottom: 0;
                font-size: 18px;
                color: #071c4d;
            }

            p {
                margin-bottom: 0;

            }

            .description {
                margin-left: 30px;
                overflow: hidden;
                float: left;

                p {
                    color: #071c4d;
                    font-weight: normal;
                    font-size: 16px;

                }
            }

            .bank-img {
                float: left;
            }
        }
    }

    .card-right {

        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom: 0;
    }

    .gallery {
        .xzoom-container {
            display: block;
        }

        .xzoom {
            width: 100%;
            margin-bottom: 10px;
            box-shadow: none;
        }
    }

    .features {
        margin-bottom: 20px;

        h3 {
            font-size: 18px;
            color: #071C4D;
            margin-bottom: 0;
        }

        p {
            margin-bottom: 0;
        }
    }

    .description {
        margin-left: 10px;
        float: left;
        overflow: hidden;
    }

    .features-image {
        width: 45px;
        height: 45px;
        float: left;
    }

    .join-container {
        margin-top: -16px;
    }

    .cancel-book {
        color: #b1b1b1 !important;
    }

    .btn-join-now {
        background-color: #ff9e53;
        color: #fff;
        border-radius: 0;

        &:hover {
            background-color: #fac094;
            color: #fff;
        }
    }
}

.section-success {
    height: 90vh;

    h1 {
        font-weight: 600;
        font-size: 26px;
        color: #071c4d;
    }

    p {
        font-weight: 300;
        font-size: 18px;
        color: #b1b1b1;
    }

    .btn-home-page {
        color: #fff;
        border-radius: 4px;
        background-color: #071C4D;

        &:hover {
            color: #fff;
            background-color: #3f5ea7;
        }
    }
}