body {
  background-color: #ffffff;
  font-family: 'Assistant', sans-serif;
  color: #071c4d;
}

.navbar-brand img {
  max-height: 40px;
}

.navbar-light .navbar-nav .nav-link {
  color: #071c4d;
}

.navbar-light .navbar-nav .nav-link.active {
  font-weight: bold;
  color: #071C4D;
}

.btn-navbar-right {
  margin-top: -10px !important;
  margin-bottom: -8px !important;
  margin-right: -18px !important;
  height: 70px;
  border-radius: 0;
}

.btn-login {
  background-color: #071C4D;
  color: #ffffff;
}

.btn-login:hover {
  background-color: #7299e2;
  color: #ffffff;
}

header {
  padding: 180px 0 165px;
  background-image: url(../image/header-background@2x.jpg);
  background-size: cover;
  margin-top: -70px;
}

header h1,
header p {
  color: #ffffff;
}

header h1 {
  font-weight: bold;
  font-family: 'Playfair Display', serif;
}

header p {
  font-size: 22px;
}

header .btn-get-started {
  color: #ffffff;
  background-color: #ff9e53;
}

header .btn-get-started:hover {
  color: #ffffff;
  background-color: #ecb285;
}

.section-stats {
  margin-top: -50px;
}

.section-stats .stats-detail {
  padding-top: 15px;
  background-color: #ffffff;
  padding-left: 40px;
}

.section-stats h2 {
  margin-bottom: 0;
  font-size: 30px;
}

.section-stats p {
  font-size: 20px;
  font-weight: lighter;
}

.section-popular {
  background-color: #051334;
  min-height: 540px;
  margin-top: -50px;
  margin-bottom: -230px;
}

.section-popular .section-popular-heading {
  margin-top: 150px;
}

.section-popular .section-popular-heading h2,
.section-popular .section-popular-heading p {
  color: #ffffff;
}

.section-popular .section-popular-heading h2 {
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  font-size: 40px;
}

.section-popular .section-popular-heading p {
  font-size: 18px;
}

.section-popular-content .section-popular-travel .card-travel {
  min-height: 380px;
  background-color: #ddd;
  color: #ffffff;
  padding: 30px;
  background-size: cover;
  margin-bottom: 20px;
}

.section-popular-content .section-popular-travel .travel-country {
  font-size: 18px;
  color: #ffffff;
}

.section-popular-content .section-popular-travel .travel-location {
  color: #ffffff;
  font-size: 28px;
}

.section-popular-content .section-popular-travel .travel-button .btn-travel-details {
  color: #ffffff;
  background-color: #ff9e53;
}

.section-popular-content .section-popular-travel .travel-button .btn-travel-details:hover {
  color: #ffffff;
  background-color: #fac094;
}

.section-network {
  background-color: #ffffff;
  padding-top: 240px;
  padding-bottom: 50px;
  margin-top: -170px;
}

.section-network h2 {
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  font-size: 40px;
}

.section-network P {
  font-size: 18px;
}

.section-network .img-partner {
  max-height: 100%;
}

.section-testimonial-heading {
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ebeffa));
  background: linear-gradient(#fff 0%, #ebeffa 100%);
  padding-top: 50px;
  min-height: 506px;
}

.section-testimonial-heading h2 {
  font-size: 40px;
  font-weight: bold;
  font-family: 'Playfair Display', serif;
}

.section-testimonial-heading p {
  font-size: 18px;
}

.section-testimonial-content {
  margin-top: -300px;
  padding-bottom: 50px;
}

.section-testimonial-content .card-testimonial {
  padding: 40px 20px 10px;
  border-radius: 11px;
  margin-bottom: 20px;
  -webkit-transition: 1s;
  transition: 1s;
}

.section-testimonial-content .card-testimonial:hover {
  -webkit-box-shadow: 0px 27px 24px 1px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 27px 24px 1px rgba(0, 0, 0, 0.5);
}

.section-testimonial-content .testimonial-content {
  min-height: 380px;
}

.section-testimonial-content h3 {
  font-size: 22px;
}

.section-testimonial-content .testimonial {
  font-weight: 200;
  font-size: 26px;
  color: #6e6e6e;
}

.section-testimonial-content .trip-to {
  font-weight: normal;
  color: #6e6e6e;
  font-size: 22px;
}

.section-testimonial-content hr {
  margin-left: -20px;
  margin-right: -20px;
}

.section-testimonial-content .btn-get-started {
  color: #ffffff;
  background-color: #ff9e53;
}

.section-testimonial-content .btn-get-started:hover {
  color: #ffffff;
  background-color: #ecb285;
}

.section-testimonial-content .btn-need-help {
  color: #d1cece;
  background-color: #f0efef;
}

.section-testimonial-content:hover {
  color: #ddd9d9;
  background-color: #fafafa;
}

.section-footer a {
  color: #071c4d;
}

.section-details-header {
  min-height: 310px;
  background-color: #e4e6e8;
  margin-top: -70px;
}

.section-details-content {
  margin-top: -210px;
  min-height: 100vh;
}

.section-details-content .breadcrumb {
  margin-bottom: 30px;
  padding: 0;
  background-color: transparent;
}

.section-details-content .breadcrumb-item {
  font-weight: bold;
  color: #10224d;
}

.section-details-content .card-details {
  padding: 30px;
  border-radius: 11px;
}

.section-details-content .card-details h1 {
  font-size: 26px;
}

.section-details-content .card-details h2 {
  font-size: 20px;
}

.section-details-content .card-details p {
  font-size: 18px;
  color: #b1b1b1;
}

.section-details-content .card-details .trip-information th {
  font-weight: 300;
  font-size: 18px;
  color: #071c4d;
}

.section-details-content .card-details .trip-information td {
  font-weight: 300;
  font-size: 18px;
  color: #b1b1b1;
}

.section-details-content .card-details .trip-information .text-blue {
  color: #071C4D;
  font-weight: bold;
}

.section-details-content .card-details .trip-information .text-orange {
  color: #ff9e53;
  font-weight: bold;
}

.section-details-content .card-details .payment {
  font-size: 14px;
  font-weight: 300;
  color: #b1b1b1;
}

.section-details-content .card-details h3 {
  font-weight: 300;
  font-size: 14px;
  color: #071c4d;
}

.section-details-content .card-details .disclaimer {
  font-weight: 200;
  font-size: 14px;
  color: #b1b1b1;
}

.section-details-content .gj-datepicker .datepicker {
  border-right: 0;
}

.section-details-content .gj-datepicker .input-group-append .btn {
  padding-right: 30px;
}

.section-details-content .btn-now {
  margin-left: 20px;
  color: #ffffff;
  background-color: #071c4d;
}

.section-details-content .btn-now:hover {
  color: #fff;
  background-color: #113ca0;
}

.section-details-content .bank .bank-item h3 {
  margin-bottom: 0;
  font-size: 18px;
  color: #071c4d;
}

.section-details-content .bank .bank-item p {
  margin-bottom: 0;
}

.section-details-content .bank .bank-item .description {
  margin-left: 30px;
  overflow: hidden;
  float: left;
}

.section-details-content .bank .bank-item .description p {
  color: #071c4d;
  font-weight: normal;
  font-size: 16px;
}

.section-details-content .bank .bank-item .bank-img {
  float: left;
}

.section-details-content .card-right {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: 0;
}

.section-details-content .gallery .xzoom-container {
  display: block;
}

.section-details-content .gallery .xzoom {
  width: 100%;
  margin-bottom: 10px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.section-details-content .features {
  margin-bottom: 20px;
}

.section-details-content .features h3 {
  font-size: 18px;
  color: #071C4D;
  margin-bottom: 0;
}

.section-details-content .features p {
  margin-bottom: 0;
}

.section-details-content .description {
  margin-left: 10px;
  float: left;
  overflow: hidden;
}

.section-details-content .features-image {
  width: 45px;
  height: 45px;
  float: left;
}

.section-details-content .join-container {
  margin-top: -16px;
}

.section-details-content .cancel-book {
  color: #b1b1b1 !important;
}

.section-details-content .btn-join-now {
  background-color: #ff9e53;
  color: #fff;
  border-radius: 0;
}

.section-details-content .btn-join-now:hover {
  background-color: #fac094;
  color: #fff;
}

.section-success {
  height: 90vh;
}

.section-success h1 {
  font-weight: 600;
  font-size: 26px;
  color: #071c4d;
}

.section-success p {
  font-weight: 300;
  font-size: 18px;
  color: #b1b1b1;
}

.section-success .btn-home-page {
  color: #fff;
  border-radius: 4px;
  background-color: #071C4D;
}

.section-success .btn-home-page:hover {
  color: #fff;
  background-color: #3f5ea7;
}
/*# sourceMappingURL=main.css.map */